
*{
    margin: 0;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    background: hwb(223 3% 89%);
    background-size: 50px 50px;
    background-image: radial-gradient( #fff .5px,transparent 3px);
    
}
h3{
    color: #fff;
    text-decoration: none;
}
header{
    color: #fff;
}
.intro{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}
header img{
    position: absolute;
    width: 40px;
    border-radius: 90%;
    left: 0px;
    top: 35px;
    z-index: 10;

}
.timeline{
    position: relative;
    max-width: 100%;
    margin: 100px auto;
    height: 850px;
   }
   .containr{
       padding: 10px 50px;
       position: relative;
       width: 50%;
       animation: movedown 1s linear forwards;
       opacity: 0;
      
   }
   @keyframes movedown {
       0%{
           opacity: 1;
           transform: translate(-30px);
       }
       100%{
           opacity: 1;
           transform: translate(0px);
       }
   }
   .text-box{
       padding: 20px 30px;
       background: #fff;
       position: relative;
       border-radius: 5px;
       font-size: 15px;
   }
   .left-container{
       left: 0;
   }
   .right-container{
       left: 50%;
   }
   .containr img{
       position: absolute;
       width: 40px;
       border-radius: 50%;
       right: -20px;
       top: 35px;
       z-index: 10;
   
   }
   .right-container img{
       left: -20px;
   }
   .timeline::after{
       content: '';
       position: absolute;
       width: 12px;
       height: 50px;
       background: #fff;
       top: 0px;
       left: 50%;
       margin-left: -3px;
       z-index: -1;
       animation: moveline 8s linear forwards;
   }
   @keyframes moveline {
       0%{
           height: 0;
       }
       100%{
           height: 100%;
       }
       
   }
   .text-box h2{
       font-weight: 600;
   }
   .text-box small{
       display: inline-block;
       margin-bottom: 5px;
   }
   .left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px soild transparent;
    border-bottom: 15px soild transparent;
    border-left: 15px soild #fff;
    right: -15px;
   }
   .containr:nth-child(1){
       animation-delay: 0s;
   }
   .containr:nth-child(2){
       animation-delay: 2s;
   }
   .containr:nth-child(3){
       animation-delay: 4s;
   }
   .containr:nth-child(4){
       animation-delay: 6s;
   }
   /*
   .containr:nth-child(4){
       animation-delay: 3s;
   }
   .containr:nth-child(5){
       animation-delay: 4s;
   }
   .containr:nth-child(6){
       animation-delay: 5s;
   }
   .containr:nth-child(7){
       animation-delay: 6s;
   }
   .containr:nth-child(8){
       animation-delay: 7s;
   }*/
   @media screen and (max-width:600px) {
       .timeline{
           margin: 50px auto;
       }
       .timeline::after{
           left: 31px;
       }
       .containr{
           width: 100%;
           padding-left: 80px;
           padding-right: 25px;
       }
       .text-box{
           font-size: 13px;
       }
       .text-box small{
           font-size: 10px;
       }
       .right-container{
           left: 0;
       }
       .left-container img{
           left: 0px;
       }
       .right-container img{
           left:3px
       }
       
   }
   .cards{
    padding: 2px;
    border: 1px solid #fff;
    background: #2e364a;
    color: #fff;
    text-align: center;
   }
   .grid-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 10px;
    justify-content: center;
   }
   .heading{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .title{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    column-gap: .2rem;
    color: #fff;
   }
   .title::before,.title::after{
     content: "";
     height: 5px;
     display: block;
     background: #fff;
   }
   .logo-bg{
    background: #fff;
   }
   button{
    background-color:#fff ;margin-left: 10px ; border-radius: 10px; padding: 10px;
}

.grid-container-contact{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 10px;
    justify-content: center;
}
.cards-contact{
    padding: 5px;
    border: 2px solid rgb(177, 196, 204);
    background: #fff ;
    color: #2e364a;
    text-align: center;
   }
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-align:left;

   }
   .grad{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    text-align:left;
    background: linear-gradient(135deg ,#fc72ff,#8f68ff,#487bff,#8f68ff,#fc72ff, #fc72ff,#8f68ff,#487bff,#8f68ff,#fc72ff);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animation-gardient 2s  ease-in-out infinite;
    
   }
   @keyframes animation-gardient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
    
   }
   small{
    font-size: small;
    align-items: first baseline;
    color: #878fa3;
   }

  .grid-container-tech{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 10px;
    justify-content: center;
}
.cards-tech{
    padding: 5px;
    border: 2px solid rgb(177, 196, 204);
    background: #fff ;
    color: #2e364a;
    text-align: center;
   }